<div class="center hero-unit">
  <h1>Rails Demo Application</h1>

  <h2>
    Home Page for the Rails Demo Application using Tweeter Bootstrap.
  </h2>

  <%= link_to "Sign up now!", "signup", class: "btn btn-large btn-primary" %>
</div>